# SQLite connection string
DATABASE_URL="file:./dev.db"

# Auth
JWT_SECRET="replace_me_with_a_long_random_string"

# App
# Used for SEO metadataBase in production
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Optional: Cloudinary (if you choose Cloudinary for images later)
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
